@use "../../styles/" as *;

.ScrollToTop {
  position: fixed;
  z-index: 99999;
  width: 45px;
  height: 45px;
  right: 35px;
  bottom: 35px;
  background-color: $blackColor;
  transition: $transition;
  cursor: pointer;

  &__hover {
    background-color: $mainColor;
  }

  &__icon {
    color: $whiteColor;
    font-size: 25px;
  }
}
