@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$mainColor: #ff5740;
$secondColor: #6b6b84;
$blackColor: #031521;
$whiteColor: #ffffff;
$greyColor: #dddddd;

$mainFont: "Montserrat", sans-serif;
$optionalFont: "Nunito", sans-serif;

$transition:.5s;
